@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<section class="title-template">
    <h1 class="title">Register</h1>
    <form class="contact-form row" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-field">
            <label asp-for="Input.Email" class="control-label"></label>
                <input asp-for="Input.Email" class="form-control" autocomplete="off" aria-required="true" />
            
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
        <div class="form-field">
            <label asp-for="Input.Password" class="control-label"></label>
                <input asp-for="Input.Password"  class="form-control" autocomplete="off" aria-required="true" />
            
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        <div class="form-field">
            <label asp-for="Input.ConfirmPassword" class="control-label"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="off" aria-required="true" />
            
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
        <div class="d-flex justify-content-center">
            <button id="registerSubmit" type="submit" class="submit-btn">Register</button>
            </div>
    </form>
</section>
<section style="display: flex; justify-content: center; align-items: center;">
    <div class="col-md-6 text-center">
        <h3 style="color: white; margin: 0 auto;">Or</h3>
        <hr />

        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
            <div class="text-center">
                <p>
                    @foreach (var provider in Model.ExternalLogins!)
                    {
                        <button type="submit" class="btn btn-outline-light" name="provider" value="@provider.Name" title="Register using your @provider.DisplayName account">@provider.DisplayName  &nbsp; <i class="fa-brands fa-google"></i></button>
                    }
                </p>
            </div>
        </form>
    </div>
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
